<div class="forgot-password-container">
    <h2>Recuperar Contraseña</h2>
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <p class="success" *ngIf="message">{{ message }}</p>
      <p class="error"   *ngIf="errorMsg">{{ errorMsg }}</p>
      <input
        type="email"
        placeholder="Ingresa tu correo electrónico"
        formControlName="email"
        required
      />
      <button type="submit" [disabled]="isLoading">
        {{ isLoading ? 'Enviando...' : 'Enviar correo de recuperación' }}
      </button>
    </form>
    <p><a routerLink="/login">Volver al Login</a></p>
  </div>