<div class="segment-clock-container">
    <svg viewBox="0 0 300 300">
      <g transform="translate(150,150)">
  
        <g *ngFor="let i of H24">
          <rect
            [attr.transform]="'rotate(' + (i * 15) + ') translate(80, -5)'"
            width="20" height="10"
            [attr.fill]="i < hours ? '#ffce00' : '#444'"
          />
        </g>
    
        <g *ngFor="let i of M60">
          <rect
            [attr.transform]="'rotate(' + (i * 6) + ') translate(100, -4)'"
            width="8" height="8"
            [attr.fill]="i < minutes ? '#00b5ff' : '#444'"
          />
        </g>
  
        <g *ngFor="let i of S60">
          <rect
            [attr.transform]="'rotate(' + (i * 6) + ') translate(120, -3)'"
            width="6" height="6"
            [attr.fill]="i < seconds ? '#c800ff' : '#444'"
          />
        </g>
      </g>
    </svg>

    <app-time-slider (timeChange)="onTimeChange($event)"></app-time-slider>
  </div>